<%- include('partials/header') %>
<%-include('partials/navbar')%>

<div class="container">
    <div class="row content">
        <div class="col-12 pt-4 text-start text-white bg-dark">
            <h1 class="display-4 fw-bold">Catalog</h1>
            <p class="fs-4">.mol files</p>
            <p></p>
            <table id="molTable" class="table table-striped text-white" style="width:100%">
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Name</th>
                        <th>Formula</th>
                    </tr>
                </thead>
                <tbody>
                    <% let listNumbers = list.map((item)=> {
                            return item.replace(".mol", "")
                        })
                        listNumbers.sort(function(a, b) {
                            return a - b;})
                        %>
                        <% for (let item of listNumbers){%>
                            <tr>
                                <td><%= String(item).padStart(3, '0' ) %></td>
                                <td>
                                    <a class="text-white" id="Name<%=item %>" href="/item/<%=item%>">Name</a>
                                </td>
                                <td id="Formula<%=item %>" class="text-white">Formula</td>
                            </tr>
                        <%}%>
                </tbody>
            </table>
            <p class="fs-4">.gltf files</p>

        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#molTable').DataTable({
            scrollY: '500px',
            scrollCollapse: true,
            paging: true
        });
    });

</script>

<style>
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #222;
}
.table-striped>tbody>tr:nth-of-type(odd)>td {
    background-color: #222;
    color: white ;
}

</style>


<%- include('partials/footer') %>