<%- include('partials/header') %>
<%-include('partials/navbar')%>
<script>
    var fs = require('fs');
</script>


<div class="container">
    <div class="row content">
        <div class="col-12 pt-4 text-start text-white bg-dark">
            <h1 class="display-4 fw-bold">Catalog</h1>
            <p class="fs-4">.mol files</p>
            <p></p>
            <table id="molTable" class="table table-striped text-white" style="">
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Name</th>
                        <th>Formula</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%  let listNumbers = list.map((item)=> {
                            return item.replace(".mol", "")
                        })
                        listNumbers.sort(function(a, b) {
                            return a - b;})
                        %>
                        <% for (let item of listNumbers){
                            if(mol[item] != undefined){
                                let name = mol[item].name;
                                let formula = mol[item].formula;
                            } else {
                                console.log("false");
                                name = "not found in Catalog";
                                formula = "not found in Catalog";
                            }
                            %>
                            <tr>
                                <td><%= String(item).padStart(3, '0' ) %></td>
                                <td>
                                    <a class="text-white" id="<%= "name" + item %>" href="/item/<%=item%>"><%=name%></a>
                                </td>
                                <td id="" class="text-white"><%=formula%></td>
                                <td class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-light mx-1" data-bs-toggle="modal" data-bs-target="#canvasModal">
                                    Preview
                                    </button>
                                    <button type="button" class="btn btn-info mx-1" data-bs-toggle="modal" data-bs-target="">
                                    Edit
                                    </button>
                                    <button type="button" class="btn btn-danger mx-1" data-bs-toggle="modal" data-bs-target="">
                                        Delete
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="canvasModal" tabindex="-1" aria-labelledby="canvasModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content bg-dark">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-white" id="canvasModalLabel">Name</h5>
                                                    <h6 class="modal-title text-white" id="canvasModalLabel">Formula</h6><br>
                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                            <div class="modal-body">
                                                <iframe class="rounded" src="https://localhost:4000/viewer/<%=item%>" width="100%" height="100%" frameborder="0"></iframe>
                                                <canvas id="myCanvas" width="400" height="400"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <%}%>
                </tbody>
            </table>
            <p class="fs-4">.gltf files</p>

        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#molTable').DataTable({
            scrollY: '500px',
            scrollCollapse: true,
            paging: true
        });
    });

</script>

<style>
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #222;
}
.table-striped>tbody>tr:nth-of-type(odd)>td {
    background-color: #222;
    color: white ;
}

</style>


<%- include('partials/footer') %>